<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layout}"
>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>

<script>
    function LoginForm__submit(form) {
        form.username.value = form.username.value.trim();

        if (form.username.value.length == 0) {
            alert("아이디를 입력해주세요.");
            form.username.focus();
            return;
        }

        form.password.value = form.password.value.trim();

        if (form.password.value.length == 0) {
            alert("비밀번호를 입력해주세요.");
            form.password.focus();
            return;
        }

        form.submit();
    }

</script>

<div class="container my-3">
    <form th:action="@{/member/login}" method="post" onsubmit="LoginForm__submit(this); return false;">
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
</html>